
sigma_marketing_api/SigmaMarketing/SigmaMarketing/wwwroot/images/campaign/e0a5deb0-49b6-407b-b102-3262f4c3cd3c.png
sigma_marketing_app/sigma_marketing/ios/firebase_app_id_file.json
sigma_marketing_app/sigma_marketing/ios/Runner/GoogleService-Info.plist
sigma_marketing_app/sigma_marketing/macos/firebase_app_id_file.json
sigma_marketing_app/sigma_marketing/macos/Runner/GoogleService-Info.plist
